@use "var" as v;
@forward "var";

@font-face {
    font-family: 'Avenir';
    src: url('/font/Avenir/Avenir-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('/font/Avenir/Avenir-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('/font/Avenir/Avenir-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*,*::after,*::before{
    box-sizing: border-box;
    letter-spacing: .25px;
}

a,a:link,a:visited{
    color: v.$text-primary;
}